input[type=range] {
    height: 5px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 3px #41064f;
    background: #b803a1;
    border-radius: 8px;
    border: 1px solid #3d0144;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #353535;
    border: 0px solid #7b0078;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #a306af;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #b803a1;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 3px #41064f;
    background: #b803a1;
    border-radius: 8px;
    border: 1px solid #3d0144;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #353535;
    border: 0px solid #7b0078;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #a306af;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #b803a1;
    border: 1px solid #3d0144;
    border-radius: 15px;
    box-shadow: 1px 1px 3px #41064f;
  }
  input[type=range]::-ms-fill-upper {
    background: #b803a1;
    border: 1px solid #3d0144;
    border-radius: 15px;
    box-shadow: 1px 1px 3px #41064f;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #353535;
    border: 0px solid #7b0078;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #a306af;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #b803a1;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #b803a1;
  }